streamlit
yfinance
requests
pandas
feedparser
numpy
plotly
statsmodels
matplotlib
pillow
streamlit-option-menu
concurrent.futures
google-generativeai
supabase
beautifulsoup4
scikit-learn
xgboost
tensorflow
xmltodict